html,
body {
    background-color: #f6f9fc;
    font-size: 20px;
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

.mdc-card {
    border-radius: 10px;
}

#site-container-test {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#site-container-top-test {
    height: 70px;
    background-color: green;
}

.website-title.mdc-toolbar__title {
    text-transform: uppercase;
}


#site-container-bottom-test {
    flex-grow: 1;
    padding: 20px;
    display: flex;
}

#sidebar {
    width: 275px;
    margin-right: 10px;
    padding: 15px;
    overflow-y: scroll;
    font: 12px;
}

#sidebar-year-item,
#current-year-item {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    padding: 0.5em;
    border-radius: 5px;
}

#current-year-item {
    background-color: #DADCE0;
}

#year-div-icon {
    margin-right: 20px;
    margin-left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #2962FF;
    background-color: #2962FF;
}

#year-div-year {
    font-size: 22px;
}

#story-div {
    background-color: #DADCE0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 5px;
    color: #000000;
}

#story-div-title {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-div-item-current {
    display: flex;
    flex-direction: row;
    font: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #2962FF;
    align-items: center;
    border-radius: 5px;
}

.item-number-current {
    margin: 10px;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #2962FF;
}

.item-title-current {
    color: #FFFFFF;
}

.story-div-item {
    display: flex;
    flex-direction: row;
    font: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.item-number {
    margin: 10px;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background-color: #80868B;
    color: #000000;
}

.item-title {
    color: #000000;
}

.mdc-toolbar__row {
    background-color: #2962FF;
}

#story-card-1,
#story-card-2,
#story-card-3,
#story-card-4,
#story-card-5,
#story-card-6 {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-card-title {
    font-size: 32px;
}

.story-card-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    margin-right: 10px;
}

.story-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#story-button-back,
#story-button-next,
#map-button-story {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .6px;
}

#story-button-back {
    background-color: #FFFFFF;
    color: #2962FF;
}

#story-button-next,
#map-button-story {
    background-color: #2962FF;
    color: #FFFFFF;
}

.map-card.mdc-card {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.central-story-card.mdc-card {
    border-radius: 5px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

#map {
    flex-grow: 1;
    background-color: #fdf6e3;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    /* padding-left: 10px; */
}

#map-button-story-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
}

#map-button-story {
    align-self: flex-end;
    z-index: 999;
}

.animate-opacity {
    opacity: .9;
    fill-opacity: 0.25;
}

#sidebar-story-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
}

.sidebar-story-card-active.mdc-card,
.sidebar-story-card.mdc-card {
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
    height: 20vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* color: #0080ff; */
}

.sidebar-story-card-active.sidebar-story-card.mdc-card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
    color: #000000;
}

.sidebar-story-card.mdc-card {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    opacity: 0.65;
    color: grey;
}

.sidebar-story-card-title {
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 5px;
}

.sidebar-story-card-items.mdc-list {
    flex-grow: 1;
    overflow-y: scroll;
    /*     display: flex;
    flex-direction: column; */
}

.material-icons.md-18 {
    font-size: 18px;
}

.sidebar-story-card-item.mdc-list-item,
.sidebar-story-card-item-active.mdc-list-item {
    margin: 5px 0 5px 0;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.sidebar-story-card-item-active.sidebar-story-card-item.mdc-list-item {
    color: #0080ff;
    background-color: rgb(0, 128, 255, 0.1);
}

.sidebar-story-card-item-text {
    padding-left: 10px;
}

.toolbar_container.mdc-toolbar__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#toolbar-button {
    background-color: #2962FF;
    color: #ffffff;
}

.toolbar-timeline-container {
    position: absolute;
    margin-left: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-timeline {
    margin-right: 10px;
    width: 700px;
    height: 40px;
    background-color: #0039cb;
    opacity: 0.75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toolbar-timeline-year {
    align-self: flex-end;
    margin-bottom: 5px;
}