:root {
    --primary-color: #f6f9fc;
    --primary-font-color: #ffffff;
    --background-color: #2962FF;
    --primary-font-size: 20px;
    --box-shadow--unelevated: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    --box-shadow--elevated: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: var(--primary-font-size);
    scroll-behavior: smooth;
}

.container-site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.container-top {
    min-height: 70px;
    background-color: green;
}

.mdc-toolbar__row {
    background-color: var(--background-color);
}

.website-title.mdc-toolbar__title {
    text-transform: uppercase;
}

.container-bottom-map,
.container-bottom-story {
    flex-grow: 1;
    margin: 20px;
    display: flex;
}

.map.mdc-card {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.story-container-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    justify-content: space-between;
    /* padding: 20px 0px 20px 20px; */
}

.story-card-secondary.mdc-card {
    border-radius: 5px;
    margin: 0px 20px 20px 0px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow--unelevated);
    opacity: 0.50;
    color: grey;
    cursor: pointer;
}

.story-card-secondary.mdc-card:last-child {
    margin: 0px 20px 0px 0px;
}

.story-card-secondary--active.story-card-secondary.mdc-card {
    box-shadow: var(--box-shadow--elevated);
    opacity: 1;
    color: #000000;
    pointer-events: none;
}

.story-card-secondary-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    margin: 0px 0px 5px 5px;
}

.story-card-secondary-items.mdc-list {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.story-card-secondary-item.mdc-list-item {
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 0 0 0 5px;
}

.story-card-secondary-item-active.story-card-secondary-item.mdc-list-item {
    color: #0080ff;
    background-color: rgb(0, 128, 255, 0.1);
}

.story-card-secondary-item-title {
    margin: 0 0px 0 10px;
}

.story-container-right {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.story-container-items {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.story-card-image.mdc-card {
    margin-right: 100px;
    height: 100%;
    width: auto;
    box-shadow: var(--box-shadow--elevated);
}