<!DOCTYPE html>
<html>

<head>
    <title>Leaflet Web Map</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Leaflet styling -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- Leaflet script -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <!-- Stamen script -->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- d3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <!-- MDC Web -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="site-container-test">
        <div id="site-container-top-test">
            <header id="top-container" class="mdc-toolbar mdc-toolbar--fixed">
                <div class="mdc-toolbar__row">
                    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                        <span class="website-title mdc-toolbar__title">GEOG 53 Project</span>
                    </section>
                </div>
            </header>
        </div>
        <div id="site-container-bottom-test">
            <!-- <div id="sidebar" class="mdc-card">
                <div id="sidebar-year-container"></div>
            </div> -->
            <div id="sidebar-story-container">
                <div id="sidebar-story-card" class="sidebar-story-card-active mdc-card">
                    <div class="sidebar-story-card-title">Introduction</div>
                    <div class="sidebar-story-card-items mdc-list">
                        <div class="sidebar-story-card-item-active mdc-list-item">
                            <i class="material-icons md-18">check_box</i>
                            <div class="sidebar-story-card-item-text">This project</div>
                        </div>
                        <div class="sidebar-story-card-item mdc-list-item">
                            <i class="material-icons md-18">check_box_outline_blank</i>
                            <div class="sidebar-story-card-item-text">Going forward</div>
                        </div>
                    </div>
                </div>
                <div id="sidebar-story-card" class="sidebar-story-card mdc-card">
                    <div class="sidebar-story-card-title">First Story</div>
                </div>
                <div id="sidebar-story-card" class="sidebar-story-card mdc-card">
                    <div class="sidebar-story-card-title">Second Story</div>
                </div>
                <div id="sidebar-story-card" class="sidebar-story-card mdc-card">
                    <div class="sidebar-story-card-title">Third Story</div>
                </div>
            </div>
            <div id="story-card-1" class="central-story-card mdc-card">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    Introduction:
                    </span>This project</div>
                <div class="story-card-buttons">
                    <button id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button onclick="storyToStoryForward()" id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="story-card-2" class="mdc-card" style="display:none">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    Introduction:
                    </span>Going forward</div>
                <div class="story-card-buttons">
                    <button onclick="storyToStoryBackward()" id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button onclick="storyToMapForward()" id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="story-card-3" class="mdc-card" style="display:none">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    SECOND:
                    </span>PART 1</div>
                <div class="story-card-buttons">
                    <button onclick="storyToMapBackward()" id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button onclick="storyToStoryForward()" id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="story-card-4" class="mdc-card" style="display:none">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    SECOND:
                    </span>PART 2</div>
                <div class="story-card-buttons">
                    <button onclick="storyToStoryBackward()" id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button onclick="storyToMapForward()" id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="story-card-5" class="mdc-card" style="display:none">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    THIRD:
                    </span>PART 1</div>
                <div class="story-card-buttons">
                    <button onclick="storyToMapBackward()" id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button onclick="storyToStoryForward()" id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="story-card-6" class="mdc-card" style="display:none">
                <div class="story-card-title">
                    <span class="story-card-subtitle">
                    THIRD:
                    </span>PART 2</div>
                <div class="story-card-buttons">
                    <button onclick="storyToStoryBackward()" id="story-button-back" class="mdc-button mdc-button--raised mdc-button--dense">
                        Back
                    </button>
                    <button id="story-button-next" class="mdc-button mdc-button--raised mdc-button--dense">
                        Next
                    </button>
                </div>
            </div>
            <div id="map" class="map-card mdc-card" style="display:none">
                <div id="map-button-story-container">
                    <button onclick="mapToStoryForward()" id="map-button-story" class="mdc-button mdc-button--raised mdc-button--dense" style="display:none">
                        Story
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='thisCampus.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" charset="utf-8"></script>
</body>

</html>